#movie-description-component{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#description-component-contents{
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    margin-top: 2rem;
}

#movie-description-component .title-div{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#movie-description-component .img-div img{
    width: 90%;
}

#movie-description-component .text-div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#movie-description-component .movie-title{
    font-size: 25px;
    color: #3B3939;
    font-weight: 600;
}

#movie-description-component .movie-rating{
    font-weight: 500;
    color: #3B3939;
}

#movie-description-component .movie-genre{
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: #3B3939;
}


#movie-description-component h3{
    margin: 0;
    padding-top: 10px;
}

#movie-description-component .timings-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#movie-description-component .book-tickets-btn{
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3B3939;
    padding: 13px 0; 
    transition: background-color 300ms ease-out;
}

#movie-description-component .book-tickets-btn:hover{
    background-color: #3B3939;
}

#movie-description-component a{
    color: #3B3939;
    font-weight: 600;
    transition: background-color 300ms ease-out;
}

#description-component-contents a:hover{
    color: #FFF;
}